* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(10, 10, 10);
}

body {
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    cursor: crosshair;
    /*mix-blend-mode : overlay;*/
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
}

section {
    height: 60vh;
    background: rgb(24, 24, 24);
    padding: 3em;
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    margin-inline: 30vw;
}